*{
    padding:0;
    margin: 0;
    box-sizing: border-box;

}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #777;
}
.login-form{
    width: 400px;
    background-color: #fff;
    padding: 20px;
    text-transform:uppercase ;
}
.title{
    margin-bottom: 20px;
}
.input-group{
    margin: 20px 0;
}
.input-group label{
   display:inline-block;
   margin-bottom: 10px;
}

.input-group{
    display:block;
    width: 100%;
    padding: 10px;

}
.input-group p{
    font-size: 15px;
    color:red;
    visibility: hidden;
}

#submit{
    width:100%;
    padding: 10px;
    font-size: 20px;
    background-color: greenyellow;
    border:none;
}   

